@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Gothic&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Bona Nova SC", serif;
}

a{
    text-decoration: none;
    color: inherit;
}

::-webkit-scrollbar {
    width: 0px;
}

/* cabecalho */

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: #333;
    color: #ff0000;
    border-bottom: 2px solid #ff0000;
}

.menu h1{
    font-size: 34px;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #000;
}

.menu ul{
    display: flex;
    list-style: none;
    gap: 20px;
}

.menu a{    
    color: #ff0000;  
    text-transform: uppercase;  
}

.menu li a:hover{
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    transition: 0.5s;
}

.btn-orcamento {
    background-color: #fff;
    color: black;
    margin-top: -7px;
    padding: 10px 10px;
    border-radius: 5px;
    text-transform: uppercase;
}

.btn-orcamento:hover{
    background-color: #ff0000;
    color: #fff;
    transition: 0.4s;
    transform: translateY(-3px)
}

/* fim do cabecalho */

/* main home */

main {
    background-image: url('./img/fundo.png'), linear-gradient(rgba(0, 0, 0, 0.5), rgba(12, 12, 12, 0.637));
    background-blend-mode: overlay;
}

.home .home-text {
    text-shadow: 2px 1px 1px #000;
}

.home .home-text h2 {
   text-align: center;
   color: whitesmoke;
   padding: 10px;
   font-size: 38px;
}

.home .home-text h2 span {
    color: #ff0000;
}

.home .home-text p {
    text-align: auto;
    color: whitesmoke;
    padding: 8px;
    font-size: 22px;
    width: 60%;
    margin: 0 auto;
}

.home .home-text a {    
    text-align: center;
    color: rgba(255, 0, 0, 0.925);
}

.home-text a:hover{
    color: white;
    transition: 0.3s;
}

main .btn-contato .btn-home {
    position: relative;
    top: 50%;
    left: 50%;;
    transform: translate(-50%, -50%);
    padding: 10px 10px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: rgb(255, 0, 0);
    color: #fff;
    text-transform: uppercase;  
    font-size: 18px;
    font-weight: bold;
    border: 2px solid black;
}

main .btn-contato .btn-home a {
    color: black;
}

main .btn-contato .btn-home:hover, 
main .btn-contato .btn-home:hover a { 
    background-color: #fff;
    color: red; 
}

main .btn-contato .btn-home:hover {
    border: 2px solid red;
}

/* fim do main home */

/* recarga */   

.recarga {
    display: flex;
    background-color: white;
    width: 100%;
    height: 100%;
    margin-top: 20px;
    padding-left: 130px;
}

.recarga-text {
    width: 50%;
    height: 100%;
    padding: 20px;
    padding-left: 30px;

}

.recarga-text h2 {
    margin-bottom: 10px;
    font-size: 45px;
}

.recarga-text p {
    margin-bottom: 10px;
    font-size: 22px;
}

.recarga img {

    width: 40%;
    height: 100%;
    border-radius: 5px;
    margin: 10px;
}

/* fim da recarga */

/* placas */


.placas {
    display: flex;
    background-color: white;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding-right: 150px;
    flex-direction: row-reverse;
}

.placas-text {
    width: 50%;
    height: 100%;
    padding: 20px;
    padding-left: 30px;

}

.placas-text h2 {
    margin-bottom: 10px;
    font-size: 45px;
}

.placas-text p {
    margin-bottom: 10px;
    font-size: 22px;
}

.placas img {
    width: 40%;
    height: 100%;
    padding-top: 100px;
    border-radius: 5px;
    margin: 10px;
}


/* fim da placas */

/* conexoes */

.conexoes {
    display: flex;
    background-color: white;
    flex-direction: column;

}

.conexoes .img1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.conexoes-text {
    text-align: center;
}

.conexoes-text h2 {
    font-size: 3em;
}

.conexoes-text p {
    font-size: 1.5em;
    width: 60%;
    margin: 0 auto;
    padding: 20px;
}

.conexoes-img {
    width: 40%
}

.mangueira-img {
    width: 40%;
}

.btn-conexoes {
    background-color: red;
    color: black;
    margin-top: -7px;
    padding: 10px 10px;
    border-radius: 5px;
    text-transform: uppercase;
    text-align: center;
    width: 300px;
    margin: 0 auto;
}

.btn-conexoes:hover {
    background-color: #ff0000;
    color: #fff;
    transition: 0.4s;
    transform: translateY(-3px)
}

/* fim da conexoes */


/* btn */


.btn {
    background-color: red;
    color: black;
    margin-top: -7px;
    padding: 10px 10px;
    border-radius: 5px;
    text-transform: uppercase;
    text-align: center;
    width: 300px;
    margin: 0 auto;
}

.btn:hover {
    background-color: #ff0000;
    color: #fff;
    transition: 0.4s;
    transform: translateY(-3px)
}

/* fim do btn */

/* gambiarra */
.espaco {
    height: 50px;
    background-color: white;
    margin-bottom: 10px;
}
/* fim da gambiarra */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: #333;
    color: #ff0000;
    border-top: 2px solid #ff0000;
}